---
layout: default
---

<div class="sidebar sidebar-fixed" style="display:none">
    <button class="btn-sidebar btn-sidebar-close"> <i class="icon icon-close"></i></button>

    <div class="widget-area">
        <aside class="widget widget-profile">
            <div class="profile-photo">
                <img src="images/rs-photo-v2.jpg" alt="Stavros Kounis"/>
            </div>
            <div class="profile-info">
                <h2 class="profile-title">{{ site.fullname }}</h2>
                <h3 class="profile-position">{{ site.slogan }}</h3>
            </div>
        </aside><!-- .widget-profile -->

        <aside class="widget widget_search">
            <h2 class="widget-title">Search</h2>
            <form class="search-form">
                <label class="ripple">
                    <span class="screen-reader-text">Search for:</span>
                    <input class="search-field" type="search" placeholder="Search">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>
        </aside><!-- .widget_search -->

        <aside class="widget widget_contact">
            <h2 class="widget-title">Contact Me</h2>
    <form class="contactForm" action="php/contact_form.php" method="post">
      <div class="input-field">
        <input class="contact-name" type="text" name="name"/>
        <span class="line"></span>
        <label>Name</label>
      </div>

      <div class="input-field">
        <input class="contact-email" type="email" name="email"/>
        <span class="line"></span>
        <label>Email</label>
      </div>

      <div class="input-field">
        <input class="contact-subject" type="text" name="subject"/>
        <span class="line"></span>
        <label>Subject</label>
      </div>

      <div class="input-field">
        <textarea class="contact-message" rows="4" name="message"></textarea>
        <span class="line"></span>
        <label>Message</label>
      </div>

      <span class="btn-outer btn-primary-outer ripple">
        <input class="contact-submit btn btn-lg btn-primary" type="submit" value="Send"/>
      </span>

      <div class="contact-response"></div>
    </form>
        </aside><!-- .widget_contact -->

        <aside class="widget widget-popuplar-posts">
            <h2 class="widget-title">Popular posts</h2>
            <ul>
                <li>
                    <div class="post-media"><a href=""><img src="theme/rscard/img/uploads/thumb-78x56-1.jpg" alt=""/></a></div>
                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                </li>
                <li>
                    <div class="post-media"><a href=""><img src="theme/rscard/img/uploads/thumb-78x56-2.jpg" alt=""/></a></div>
                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                </li>
                <li>
                    <div class="post-media"><a href=""><img src="theme/rscard/img/uploads/thumb-78x56-3.jpg" alt=""/></a></div>
                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                </li>
            </ul>
        </aside><!-- .widget-popuplar-posts -->

        <aside class="widget widget_tag_cloud">
            <h2 class="widget-title">Tag Cloud</h2>
            <div class="tagcloud">
                <a href="" title="1 topic">Business</a>
                <a href="" title="9 topics">City</a>
                <a href="" title="10 topics">Creative</a>
                <a href="" title="6 topics">Fashion</a>
                <a href="" title="2 topics">Music</a>
                <a href="" title="5 topics">News</a>
                <a href="" title="9 topics">Peoples</a>
            </div>
        </aside><!-- .widget_tag_cloud -->

        <aside class="widget widget-recent-posts">
            <h2 class="widget-title">Recent posts</h2>
            <ul>
                <li>
                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>
                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                </li>
                <li>
                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>
                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                </li>
                <li>
                    <div class="post-tag">
                        <a href="">#Photo</a>
                        <a href="">#Architect</a>
                    </div>
                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                </li>
            </ul>
        </aside><!-- .widget-recent-posts -->

        <aside class="widget widget_categories">
            <h2 class="widget-title">Categories</h2>
            <ul>
                <li><a href="" title="Architecture Category Posts">Architecture</a> (9)</li>
                <li><a href="" title="Business Category Posts">Business</a> (16)</li>
                <li><a href="" title="Creative Category Posts">Creative</a> (18)</li>
                <li><a href="" title="Design Category Posts">Design</a> (10)</li>
                <li><a href="" title="Development Category Posts">Development</a> (14)</li>
                <li><a href="" title="Education Category Posts">Education</a> (9)</li>
            </ul>
        </aside><!-- .widget_categories -->
    </div><!-- .widget-area -->
</div><!-- .sidebar -->

<div class="wrapper">
    <header class="header">
        <div class="head-bg" style="background-image: url('theme/rscard/img/uploads/rs-cover.jpg')"></div>

        <div class="head-bar">
            <div class="head-bar-inner">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <a class="logo" href="index.html"><span>SK</span>ounis</a>
          <!-- <a class="head-logo" href=""><img src="theme/rscard/img/rs-logo.png" alt="RScard"/></a> -->
                    </div>

                    <div class="col-sm-9 col-xs-6">
                        <div class="nav-wrap">
                            <nav class="nav">
              <ul class="clearfix">
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#portfolio">Portfolio</a> </li>
                <!--
                <li><a href="#experience">Experience</a></li>
                <li><a href="#references">References</a></li>

                <li>
                  <a href="category.html">Blog</a>
                  <ul>
                    <li><a href="single-image.html">Image Post</a></li>
                    <li><a href="single-slider.html">Slider Post</a></li>
                    <li><a href="single-video.html">Video Post</a></li>
                    <li><a href="single-audio.html">Audio Post</a></li>
                    <li><a href="single-vimeo.html">Vimeo Post</a></li>
                    <li><a href="single-youtube.html">Youtube Post</a></li>
                    <li><a href="single-dailymotion.html">Dailymotion Post</a></li>
                    <li><a href="single.html">Without Media Post</a></li>
                    <li><a href="typography.html">Typography Page</a></li>
                    <li><a href="404.html">404 Page</a></li>
                  </ul>
                </li>
                -->
                <li><a href="#medium">Blog</a></li>
                <li><a href="#calendar">Calendar <span></span></a></li>
                <li><a href="#contact">Contact <span></span></a></li>
              </ul>
            </nav>

                            <button class="btn-mobile btn-mobile-nav" style="display:none">Menu</button>
                            <button class="btn-sidebar btn-sidebar-open" style="display:none"><i class="icon icon-menu"></i></button>
                        </div><!-- .nav-wrap -->
                    </div>
                </div>
            </div>
        </div>
    </header><!-- .header -->

    <div class="content">
        <div class="container">

  <!-- START: PAGE CONTENT -->
    <section id="about" class="section section-about">
      <div class="animate-up">
        <div class="section-box">
          <div class="profile">
            <div class="row">
              <div class="col-xs-5">
                <div class="profile-photo"><img src="images/rs-photo-v1.jpg" alt="Stavros Kounis"/></div>
              </div>
              <div class="col-xs-7">
                <div class="profile-info">
                  <div class="profile-preword"><span>Hello</span></div>
                  <h1 class="profile-title"><span>I'm</span> {{ site.fullname }}</h1>
                  <h2 class="profile-position">{{ site.slogan }}</h2></div>
                                        <ul class="profile-list">
                                            <li class="clearfix">
                                                <strong class="title">Age</strong>
                                                <span class="cont">{{ site.age }}</span>
                                            </li>
                                            <li class="clearfix">
                                                <strong class="title">Address</strong>
                                                <span class="cont">{{ site.address }}</span>
                                            </li>
                                            <li class="clearfix">
                                                <strong class="title">E-mail</strong>
                                                <span class="cont"><a href="{{ site.social_gplus }}">{{ site.email }}</a></span>
                                            </li>
                                            <li class="clearfix">
                                                <strong class="title">Skype</strong>
                                                <span class="cont"><a href="skype:skounis?call">{{ site.skype }}</a></span>
                                            </li>
                                            <li class="clearfix">
                                                <strong class="title">Freelance</strong>
                                                <span class="cont">Yes</span>
                                            </li>
                                            <li class="clearfix">
                                                <strong class="title"><span class="button">Available</span></strong>
                                                <span class="cont"><i class="icon icon-calendar"></i>May 1st, 2022</span>
                                            </li>
                                        </ul>
              </div>
            </div>
          </div>
          <div class="profile-social">
            <ul class="social">
              <!--
              <li><a class="ripple-centered" href="https://www.facebook.com" target="_blank"><i class="icon icon-facebook"></i></a></li>
              -->
              <li><a class="ripple-centered" href="{{site.social_twitter}}" target="_blank"><i class="icon icon-twitter"></i></a></li>
              <li><a class="ripple-centered" href="{{site.social_linkedin}}" target="_blank"><i class="icon icon-linkedin"></i></a></li>
              <li><a class="ripple-centered" href="{{site.social_gplus}}" target="_blank"><i class="icon icon-google-plus"></i></a></li>
              <!--
              <li><a class="ripple-centered" href="https://dribbble.com" target="_blank"><i class="icon icon-dribbble"></i></a></li>
              -->
              <li><a class="ripple-centered" href="{{site.social_instagram}}" target="_blank"><i class="icon icon-instagram"></i></a></li>            </ul>
          </div>
        </div>

        <div class="profile-btn">
            <a class="btn btn-border ripple" href="{{site.social_linkedin}}" target="_blank">Resume</a>
            &nbsp;
            <a class="btn btn-border ripple" href="{{site.calendly}}" target="_blank">Schedule a call</a>
        </div>

        <div class="profile-text">
          <p>Hello! I'm {{ site.fullname }}. Team leader and FullStack Developer specializing in mobile and web technologies. Experienced with all stages of the development cycle with strong background in project management</p>
        </div>
      </div>
    </section><!-- #about -->

    {% if true %}
    {% include skills.html %}
    {% endif %}

    {% if true %}
    {% include portfolio.html %}
    {% endif %}

    {% if false %}
    {% include experience.html %}
    {% endif %}

    {% if false %}
    {% include education.html %}
    {% endif %}

    {% if false %}
    {% include clients.html %}
    {% endif %}

    {% if false %}
    {% include references.html %}
    {% endif %}

    {% if false %}
    {% include prices.html %}
    {% endif %}

    {% if false %}
    {% include blog.html %}
    {% endif %}

    {% if true %}
    {% include medium.html %}
    {% endif %}

    {% if false %}
    {% include text.html %}
    {% endif %}

    {% if true %}
    {% include interests.html %}
    {% endif %}

    {% if true %}
    {% include calendar.html %}
    {% endif %}

    {% if true %}
    {% include contact.html %}
    {% endif %}

  <!-- END: PAGE CONTENT -->

        </div><!-- .container -->
    </div><!-- .content -->

    <footer class="footer">
        <div class="footer-social">
            <ul class="social">
              <!--
      <li><a class="ripple-centered" href="https://www.facebook.com" target="_blank"><i class="icon icon-facebook"></i></a></li>
      -->
      <li><a class="ripple-centered" href="{{site.social_twitter}}" target="_blank"><i class="icon icon-twitter"></i></a></li>
      <li><a class="ripple-centered" href="{{site.social_linkedin}}" target="_blank"><i class="icon icon-linkedin"></i></a></li>
      <li><a class="ripple-centered" href="{{site.social_gplus}}" target="_blank"><i class="icon icon-google-plus"></i></a></li>
      <!--
      <li><a class="ripple-centered" href="https://dribbble.com" target="_blank"><i class="icon icon-dribbble"></i></a></li>
      -->
      <li><a class="ripple-centered" href="{{site.social_instagram}}" target="_blank"><i class="icon icon-instagram"></i></a></li>
    </ul>
        </div>
    </footer><!-- .footer -->
</div><!-- .wrapper -->


<div class="home" style="display:none">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
