
<section id="medium" class="section section-medium">
  <script async src="https://static.medium.com/embed.js"></script>
  <div class="animate-up">
    <h2 class="section-title">My Medium</h2>

      <div class="medium-grid">
          <div class="grid-sizer"></div>
                
          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/appseed-io/apply-drupal-9-patches-with-composer-7b1e511b09fe">Apply Drupal 9 patches with composer</a>
              </article>
          </div>        
        
          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/appseed-io/how-to-deploy-an-ionic-3-app-in-stackblitz-42789252a33">How to deploy an Ionic 3 app to StackBlitz</a>
              </article>
          </div>  
        
          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/appseed-io/third-party-authentication-for-your-ionic-2-mobile-app-9fdd43169deb">How to add Facebook and Google login to your Ionic 2 app with Cordova Oauth</a>
              </article>
          </div>
        
          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/appseed-io/create-your-next-ionic-2-app-df0f580b9205">Create your next Ionic 2 application</a>
              </article>
          </div>
          
          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/appseed-io/scaffold-your-next-ionic-application-f1a2e0ce5091">Scaffold your next Ionic application</a>
              </article>
          </div>
        
          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/appseed-io/boost-your-ionic-app-performance-with-crosswalk-6d9d083eadbb">Boost your Ionic app performance with Crosswalk</a>
              </article>
          </div>
    
        
        
          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/@skounis/internationalize-and-localize-your-ionic-application-e16b4db1907b">Internationalize and Localize your Ionic Application</a>
              </article>
          </div>

          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/titanium-templates/how-to-run-multiple-versions-of-node-js-with-nvm-for-windows-ffbe5c7a2b47">How to run multiple versions of NodeJS with nvm for Windows</a>
              </article>
          </div>

          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/titanium-templates/how-to-run-an-ionic-phonegap-app-on-a-specific-device-ios-simulator-bb80fea75ac7">How to Run an Ionic/PhoneGap App on a Specific Device/iOS Simulator</a>
              </article>
          </div>

          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/titanium-templates/display-song-title-and-cover-by-utilizing-shoutcast-s-meta-data-fb00011cb086">Display Song title and Cover by utilizing SHOUTCast’s meta-data</a>
              </article>
          </div>
      </div>
  </div>
  <div class="profile-btn" style="margin-bottom: 10px;">
      <a class="btn btn-border ripple" href="{{site.social_medium}}" target="_blank">More articles ⇢</a>
  </div>
</section><!-- #blog -->


<style>
.section-medium{
  overflow: hidden;
}
.medium-grid {
    margin-left: -12px;
    margin-right: -12px;
}
.medium-grid .grid-item {
    float: left;
    padding: 0 12px;
    margin-bottom: 25px;
}
.medium-grid .grid-item, .medium-grid .grid-sizer {
    width: 50%;
}
 
.medium-grid  .post-box {
    height: 400px;
    overflow: hidden;
    background: black;
}

.medium-grid .grid-item, .medium-grid .grid-sizer {
    height: 400px;
}
  
</style>
