
<section id="medium" class="section section-medium">
  <script async src="https://static.medium.com/embed.js"></script>
  <div class="animate-up">
    <h2 class="section-title">My Medium</h2>

      <div class="medium-grid">
          <div class="grid-sizer"></div>
          <div class="grid-item">

              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/@skounis/internationalize-and-localize-your-ionic-application-e16b4db1907b">Internationalize and Localize your Ionic Application</a>
              </article>
          </div>

          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/titanium-templates/how-to-run-multiple-versions-of-node-js-with-nvm-for-windows-ffbe5c7a2b47">How to run multiple versions of NodeJS with nvm for Windows</a>
              </article>
          </div>

          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/titanium-templates/how-to-run-an-ionic-phonegap-app-on-a-specific-device-ios-simulator-bb80fea75ac7">How to Run an Ionic/PhoneGap App on a Specific Device/iOS Simulator</a>
              </article>
          </div>

          <div class="grid-item">
              <article class="post-box">
                <a class="m-story" data-collapsed="true" data-width="100%" data-border="false" href="https://medium.com/titanium-templates/display-song-title-and-cover-by-utilizing-shoutcast-s-meta-data-fb00011cb086">Display Song title and Cover by utilizing SHOUTCast’s meta-data</a>
              </article>
          </div>
      </div>
  </div>
  <div class="profile-btn" style="margin-bottom: 10px;">
      <a class="btn btn-border ripple" href="{{site.social_medium}}" target="_blank">More articles ⇢</a>
  </div>
</section><!-- #blog -->


<style>
.section-medium{
  overflow: hidden;
}
.medium-grid {
    margin-left: -12px;
    margin-right: -12px;
}
.medium-grid .grid-item {
    float: left;
    padding: 0 12px;
    margin-bottom: 25px;
}
.medium-grid .grid-item, .medium-grid .grid-sizer {
    width: 50%;
}
</style>
