<section id="portfolio" class="section section-portfolio">
  <div class="animate-up">
    <h2 class="section-title">Portfolio</h2>

    <div class="filter">
      <div class="filter-inner">
        <div class="filter-btn-group">
          <button data-filter="*">All</button>
          <button data-filter=".ionic">Ionic</button>
          <button data-filter=".bower">Bower</button>
          <button data-filter=".fonts">Fonts</button>
          <button data-filter=".angular">Angular</button>
        </div>
        <div class="filter-bar">
          <span class="filter-bar-line"></span>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="grid-sizer"></div>

      <!-- Landing Pages -->
      <div class="grid-item size22 angular">
        <div class="grid-box">
          <figure class="portfolio-figure">
            <img src="images/landing-pages-thumb.png" alt=""/>            
            <figcaption class="portfolio-caption">
              <div class="portfolio-caption-inner">
                <h3 class="portfolio-title">Landing Pages</h3>
                <h4 class="portfolio-cat">Angular, Unlayer</h4>

                <div class="btn-group">
                  <a class="btn-link" href="https://photos.app.goo.gl/67hUuc5zimaYARtq7" target="_blank"><i class="icon icon-link"></i></a>
                  <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline1"><i class="icon icon-eye"></i></a>
                  <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline2"></a>
                  <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline3"></a>
                </div>
              </div>
            </figcaption>
          </figure>

          <!-- Start: Portfolio Inline Boxes -->
          <div id="portfolio1-inline1" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="images/landing-pages.png"></div>
            <div class="inline-cont">
              <h2 class="inline-title">A Landing Pages builder utilizing Firebase and Unlayer.</h2>
              <div class="inline-text">
                <h3>Landing Pages</h3>
                <p>The appplication is built with Angular, Angular Material, Firebase and Unlayer.</p>
                <p>It provides and easy way to create landing pages by using a collection of templates. With the help of Unlayer gives the option to customize the templates and create custom designs.</p>
                <p>
                  <a href="https://photos.app.goo.gl/67hUuc5zimaYARtq7" target="_blank">See more ⇢</a>
                  <a href="http://playground.appseed.io/landingpages/" target="_blank">Live demo ⇢</a>
                </p>
              </div>
            </div>
          </div>
          <!-- End: Portfolio Inline Boxes -->
        </div>
      </div><!-- .grid-item -->

      <!-- Drupal provisioning -->
      <div class="grid-item size11 angular">
        <div class="grid-box">
          <figure class="portfolio-figure">
            <img src="images/drupal-provisioning-thumb.png" alt=""/>            
            <figcaption class="portfolio-caption">
              <div class="portfolio-caption-inner">
                <h3 class="portfolio-title">Drupal Provisioning tool.</h3>
                <h4 class="portfolio-cat">Angular, AWS</h4>

                <div class="btn-group">
                  <a class="btn-link" href="https://photos.app.goo.gl/CSLvSjY8sSBrMshR7" target="_blank"><i class="icon icon-link"></i></a>
                  <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline1"><i class="icon icon-eye"></i></a>
                  <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline2"></a>
                  <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline3"></a>
                </div>
              </div>
            </figcaption>
          </figure>

          <!-- Start: Portfolio Inline Boxes -->
          <div id="portfolio1-inline1" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="images/drupal-provisioning.png"></div>
            <div class="inline-cont">
              <h2 class="inline-title">Drupal provisioning tool.</h2>
              <div class="inline-text">
                <h3>Landing Pages</h3>
                <p>The appplication is built with Angular, Angular Material, Firebase and using AWS Simple Queue Service.</p>
                <p>It provides an easy way to provision a Drupal distribution. The installation stays live for a certain amount of time.</p>
                <p>
                  <a href="https://photos.app.goo.gl/CSLvSjY8sSBrMshR7" target="_blank">See more ⇢</a> 
                  <a href="http://admin.conferences.appseed.io" target="_blank">Live demo ⇢</a>
                </p>
              </div>
            </div>
          </div>
          <!-- End: Portfolio Inline Boxes -->
        </div>
      </div><!-- .grid-item -->


      <div class="grid-item size11 ionic angular">
        <div class="grid-box">
          <figure class="portfolio-figure">
            <img src="images/supermodular-2-thumb.jpg" alt=""/>
            <img style="position: absolute; top: 0; right: 0; border: 0; width:25%" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
            <figcaption class="portfolio-caption">
              <div class="portfolio-caption-inner">
                <h3 class="portfolio-title">Supermodular 2</h3>
                <h4 class="portfolio-cat">Ionic 2, Angular 2, Starter kit</h4>

                <div class="btn-group">
                  <a class="btn-link" href="http://bit.ly/1QQjToP" target="_blank"><i class="icon icon-link"></i></a>
                  <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline1"><i class="icon icon-eye"></i></a>
                  <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline2"></a>
                  <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline3"></a>
                </div>
              </div>
            </figcaption>
          </figure>

          <!-- Start: Portfolio Inline Boxes -->
          <div id="portfolio1-inline1" class="fancybox-inline-box">
            <a href="http://bit.ly/1QQjToP" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
            <div class="inline-embed" data-embed-type="image" data-embed-url="images/supermodular-2.jpg"></div>
            <div class="inline-cont">
              <h2 class="inline-title">A super modular Ionic 2.0 starter kit.</h2>
              <div class="inline-text">
                <h3>Supermodular 2 Ionic</h3>
                <p>The only starter you need in order to build your next modular Ionic 2.0 application.</p>
                <p>It provides all the functionalities and architecture for an application which is planned to be composed by separate independent components, each one of them containing everything that is necessary for a particular functionality. It is a well structured, well organised and implemented app that comes with the ingredients a modern application needs. Best practices, proven techniques and experienced software architecture are packed with a well crafted design.</p>
                <p>
                  <a href="http://bit.ly/1QQjToP" target="_blank">Read more ⇢</a>
                </p>
              </div>
            </div>
          </div>
          <!-- End: Portfolio Inline Boxes -->
        </div>
      </div><!-- .grid-item -->

      <div class="grid-item size11 ionic">
        <div class="grid-box">
          <figure class="portfolio-figure">
            <img src="images/supermodular-thumb.jpg" alt=""/>
            <img style="position: absolute; top: 0; right: 0; border: 0; width:40%" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
            <figcaption class="portfolio-caption">
              <div class="portfolio-caption-inner">
                <h3 class="portfolio-title">Supermodular Ionic</h3>
                <h4 class="portfolio-cat">Ionic, Starter Kit</h4>

                <div class="btn-group">
                  <a class="btn-link" href="http://bit.ly/1PNDZ4f" target="_blank"><i class="icon icon-link"></i></a>
                  <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox2" href="#portfolio2-inline1"><i class="icon icon-eye"></i></a>
                </div>
              </div>
            </figcaption>
          </figure>

          <!-- Start: Portfolio Inline Boxes -->
          <div id="portfolio2-inline1" class="fancybox-inline-box">
            <a href="http://bit.ly/1PNDZ4f" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
            <div class="inline-embed" data-embed-type="image" data-embed-url="images/supermodular.jpg"></div>
            <div class="inline-cont">
              <h2 class="inline-title">A super modular Ionic starter kit.</h2>
              <div class="inline-text">
                <h3>Supermodular Ionic</h3>
                <p>The only starter you need in order to build your next modular Ionic application.</p>
                <p>It provides all the functionalities and architecture for an application which is planned to be composed by separate independent components, each one of them containing everything that is necessary for a particular functionality. It is a well structured, well organised and implemented app that comes with the ingredients a modern application needs. Best practices, proven techniques and experienced software architecture are packed with a well crafted design.</p>
                <p>
                  <a href="http://bit.ly/1PNDZ4f" target="_blank">Read more ⇢</a>
                </p>
              </div>
            </div>
          </div>
          <!-- End: Portfolio Inline Boxes -->
        </div>
      </div><!-- .grid-item -->

      <div class="grid-item size11 bower fonts">
        <div class="grid-box">
          <figure class="portfolio-figure">
            <img src="images/montserrat-thumb.jpg" alt=""/>
            <img style="position: absolute; top: 0; right: 0; border: 0; width:40%" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
            <figcaption class="portfolio-caption">
              <div class="portfolio-caption-inner">
                <h3 class="portfolio-title">Montserrat Bower pack</h3>
                <h4 class="portfolio-cat">Bower, Fonts</h4>

                <div class="btn-group">
                  <a class="btn-link" href="http://bit.ly/1UzASuI" target="_blank"><i class="icon icon-link"></i></a>
                  <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox3" href="#portfolio3-inline1">
                    <i class="icon icon-eye"></i>
                  </a>
                  <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox3" href="#portfolio3-inline2"></a>
                  <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox3" href="#portfolio3-inline3"></a>
                </div>
              </div>
            </figcaption>
          </figure>

          <!-- Start: Portfolio Inline Boxes -->
          <div id="portfolio3-inline1" class="fancybox-inline-box">
            <a href="http://bit.ly/1UzASuI" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
            <div class="inline-embed" data-embed-type="image" data-embed-url="images/montserrat.jpg"></div>
            <div class="inline-cont">
              <h2 class="inline-title">Montserrat webfont package, optimized for Bower and gulp-flatten. Contains font files, less, scss, and CSS.</h2>
              <div class="inline-text">
                <h3>Montserrat Webfont</h3>
                <p>Use Bower to install the montserrat package:<br>
                  <code>
                    bower install montserrat-webfont --save
                  </code>
                </p>
                <p>
                  <a href="http://bit.ly/1UzASuI" target="_blank">Read more ⇢</a>
                </p>
              </div>
            </div>
          </div>
          <!-- End: Portfolio Inline Boxes -->
        </div>
      </div><!-- .grid-item -->
    </div>

    <div class="grid-more">
      <span class="ajax-loader"></span>
      <button class="btn btn-border ripple"><i class="icon icon-add"></i></button>
    </div>
  </div>
</section><!-- #portfolio -->
