<section id="skills" class="section section-skills">
  <div class="animate-up">
    <h2 class="section-title">Proffessional  Skills</h2>
    <div class="section-box">

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">HTML & CSS</span>
              <span class="bar-value">99%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="99%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Javascript</span>
              <span class="bar-value">95%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="95%"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Native Web - Ionic / Cordova</span>
              <span class="bar-value">90%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="90%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">MEAN Stack - MongoDB / AngularJS / NodeJS</span>
              <span class="bar-value">90%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="90%"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">iOS</span>
              <span class="bar-value">75%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="75%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Android</span>
              <span class="bar-value">75%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="75%"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">PHP & MySQL</span>
              <span class="bar-value">90%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="90%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Drupal</span>
              <span class="bar-value">95%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="95%"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Wordpress</span>
              <span class="bar-value">60%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="60%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Photoshop</span>
              <span class="bar-value">55%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="55%"></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section><!-- #skills -->
